{% extends 'layouts/base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}

		
			<div class="container d-flex">
				<h1>
					<div class="hideh1"></div>
					<span>PIZZAS</span>
				</h1>
			</div>
			<section class="sectionbg1">
				<div class="container">
					<div class="row">


						{#     {% if product is defined %}  
						         {% for product in products %}
						            <div class="col">
						            {{ include('components/productCard.html.twig') }}
						            </div>
						         {% if loop.index % 4 == 0 %}
						           </div><div class="row" >
						           {% endif %} 
						           {% endfor %}
						           {% else %}
						    No product found :(.
						{% endif %}#}


						<div class="col">
							{{ include('components/productCard.html.twig') }}
						</div>
						<div class="col">
							{{ include('components/productCard.html.twig') }}
						</div>
						<div class="col">
							{{ include('components/productCard.html.twig') }}
						</div>
						<div class="col">
							{{ include('components/productCard.html.twig') }}
						</div>

					</div>
				</div>
			</section>
		</div>

		<!-- SOUS MARINS -->
		<div class="ctrow">
			<div class="container d-flex">
				<h1>
					<div class="hideh1"></div>
					<span>sous-marins</span>
				</h1>
			</div>
			<section class="sectionbg2">
				<div class="container">
					<div class="row">
						<div class="col">
							{{ include('components/productCard.html.twig') }}
						</div>
						<div class="col">
							{{ include('components/productCard.html.twig') }}
						</div>
						<div class="col">
							{{ include('components/productCard.html.twig') }}
						</div>
						<div class="col">
							{{ include('components/productCard.html.twig') }}
						</div>

					</div>
				</div>
			</section>
		
{% endblock %}
