{# <article class="productCard d-flex flex-column justify-content-between item{{product.id}}">
    <h3 class="productCard__name">{{ product.name }}</h3>
    <img class="productCard__img" src="{{ asset('imgs/pizza.png') }}" alt=""/>
    <p class="productCard__ingredients">{{ product.ingredients }}</p>
    <div class="productCard__price"><span>{{ product.price }}</span></div>
    <div class="productCard__diet">
        <div class="productCard__diet--vege"></div>
        <div class="productCard__diet--vegan"></div>
        <div class="productCard__diet--gluten"></div>
    </div>

</article>
 #}